.custom_step{
	font-family: 'bebasregular';
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn {
    padding: 6px 12px; 
     background: #337ab7; 
}
.btn:hover {
    background: #286090;
}
iframe{
    width: 100%;
    border-width: 0px;
    height: 50%;
    }
/*.custom_upload_div{
	border: 1px solid #e4e4e4;
    padding: 50px;
}*/